{% extends 'layouts/base.html' %}
{% block title %}
    Models
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="container-fluid py-4 ">
       
        <div class="row">
          <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
                <h3>Avg Movement Value 30 Days </h3>
                <h4>Feature Group: Consumers Transactions </h4>
            </div>
            <div class="card-body p-3">
                <p class="text-sm m-3 ">
                    Considering peer 2 peer transactions this feature is an moing average from the transaction values in the last 30 days.
                    <h5 class="font-weight-bolder mb-0">
                      <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                        The source code is here!
                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                      </a>
                    </h5>
                </p>
            </div>
           </div>
          </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Running in Models / Feature Datasets
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">
                                        3
                                        <span class="text-success text-sm font-weight-bolder">+50%</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-4 text-end ">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-user-run text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <div class="card">
                  <div class="card-body p-3">
                      <div class="row">
                          <div class="col-8">
                              <div class="numbers">
                                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                      Profilling History
                                  </p>
                              </div>
                          </div>
                          <div class="col-4 text-end ">
                            <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" 
                            target="blank"
                            href="http://owl.dash.ms.prod/projects?project=gov_payments_simple&experiment=Profiling%20all_transactions&run=aa2fb&stage=Statistics%20for%20all_transactions&feature=paid_total_value&tab=Initial">
                            <div class="icon icon-shape shadow text-center border-radius-md">
                              <img class="w-100 position-relative z-index-2 " src="/static/assets/img/logow.png" alt="rocket"/>
                            </div>
                            </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5 mb-lg-0 mb-4">
                <div class="card z-index-2">
                    <div class="card-body p-3">
                        <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                            <div class="chart">
                                <canvas id="chart-bars" class="chart-canvas" height="385"></canvas>
                            </div>
                        </div>
                        <h6 class="ms-2 mt-4 mb-0">Values Distribution</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-4">
                <div class="card z-index-2">
                  <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h6>Feature Statitstics</h6>
                            </div>

                            <div class="card-body px-0 pt-0 pb-0">
                                <div class="table-responsive p-4">
                                  <table class="table text-sm">
                                    <thead>
                                      <tr>
                                        <th class="p-2">Metric</th>
                                        <th class="p-2">Value</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Last Updated</td>
                                        <td>2022-02-02 15:03:06</td>
                                      </tr>
                                      <tr>
                                        <td>Min</td>
                                        <td>0.01</td>
                                      </tr>
                                      <tr>
                                        <td>Mean</td>
                                        <td>12.50</td>
                                      </tr>
                                      <tr>
                                        <td>Max</td>
                                        <td>125000.00</td>
                                      </tr>
                                      <tr>
                                        <td>Std</td>
                                        <td>100.00</td>
                                      </tr>
                                      <tr>
                                        <td>Nulls</td>
                                        <td>100k</td>
                                      </tr>
                                      <tr>
                                        <td>25%</td>
                                        <td>5.00</td>
                                      </tr>
                                      <tr>
                                        <td>50%</td>
                                        <td>15.00</td>
                                      </tr>
                                      <tr>
                                        <td>75%</td>
                                        <td>2000.00</td>
                                      </tr>
                                      <tr>
                                        <td>99%</td>
                                        <td>15000.00</td>
                                      </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>
                            Consuming Models
                        </h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2 ps-4 pe-4">
                        <div class="table-responsive p-0">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Feature Dataset
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Model
                                        </th> 
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="me-2 text-sm font-weight-bold mb-0">
                                                Consumers Incentive
                                            </p>
                                        </td>
                                        <td class="text-sm font-weight-bold mb-0">
                                            <div class="d-flex">
                                                <span class="text-xs font-weight-bold">MIA Incentive Requests</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                              Consumers Behaviour Score
                                            </p>
                                        </td>
                                        <td class="text-sm font-weight-bold mb-0">
                                            <div class="d-flex">
                                                <span class="me-2 text-xs font-weight-bold">BS Consumers</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="text-sm font-weight-bold mb-0">
                                                Consumers Score
                                            </p>
                                        </td>
                                        <td class="text-sm font-weight-bold mb-0">
                                            <div class="d-flex">
                                                <span class="me-2 text-xs font-weight-bold">CS Consumers</span>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-xs"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}
<!-- Specific JS goes HERE -->
<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["0", "1.00", "5.00", "15.00", "60.00", "100.00", "1500.00", "5000.00", "15000.00"],
        datasets: [{
          label: "Percentage %",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [5, 5, 10, 25, 10, 10, 5, 12.5, 12.5],
          maxBarThickness: 20
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: true,
              display: true,
              drawOnChartArea: true,
              drawTicks: true ,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#4bba07",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
    </script>
{% endblock javascripts %}
